<!-- <app-directive-ngif></app-directive-ngif> -->
<!-- <app-directive-ngswitch></app-directive-ngswitch> -->
<!-- <app-directive-ngfor></app-directive-ngfor> -->
<!-- <app-directive-ngclass></app-directive-ngclass> -->
<!-- <app-directive-ngstyle></app-directive-ngstyle> -->
<!-- <app-elvis-operator></app-elvis-operator> -->
<!-- 
<app-ng-content>
    <div class="titulo">Conteúdo do Titulo do Painel</div>
    <div class="corpo">Conteúdo do Corpo do Painel</div>
</app-ng-content>
 -->
<app-custom-attr-directive></app-custom-attr-directive>
